<div id="ctl00_cphMainContent_ctl00_pnlWelcomeContainer" style="margin-top: 93px;">
	


<div class="welcome-banner-top">
    <div class="welcome-panel-wrapper"> 
        <a id="ctl00_cphMainContent_ctl00_ucWelcomeBanner_hlWelcomeBannerLink" class="banner-link" href="resources/CareerManagement/Start.aspx"></a>
        <div id="ctl00_cphMainContent_ctl00_ucWelcomeBanner_divWelcomePanelKenburns" class="welcome-panel-kenburns"></div>
        <span class="welcome-panel">
            <span id="ctl00_cphMainContent_ctl00_ucWelcomeBanner_textwrapper" class="text-wrapper">
                <span id="ctl00_cphMainContent_ctl00_ucWelcomeBanner_spanHeader" class="header1 tag-p" style="color: black;">
                    Welcome Muhammad,
                </span>
                <span class="header2 tag-p" style="color: black;">
                    what do you want to do with your career?
                </span>
                <span class="intro-text  tag-p" style="color: black;">
                    Have you given your career serious thought recently? Do you know where you’re heading? Have you explored all the options? Or are you taking it as it comes and leaving your career to chance?<br /><br />Your career is a journey and any journey begins with a single, purposeful step. We’ll help you to take that first step right now.               
                </span>
            </span>
            <span class="txt-w-cell">
                <strong id="ctl00_cphMainContent_ctl00_ucWelcomeBanner_strongButtonAction" style="display:none">
                    START HERE <i class="fa icon-circle-arrow-right"></i>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            setTimeout(function () {
                                $('#ctl00_cphMainContent_ctl00_ucWelcomeBanner_strongButtonAction').stop().fadeIn(800);
                            }, 1500);
                        });
                    </script>
                </strong>
            </span>
        </span>        
    </div>
</div>


</div>





<div class="top-widgets">
	<div class="row">
        
        <!-- Custom Panels (controlled in the themesettings table) -->
        

        

        
        <!-- Custom Panels -->

		<div id="ctl00_cphMainContent_ctl00_ucTopWidgets_divLatestNewsContainer" class="col-lg-4 col-sm-4 widget-one">
            

<div class="border-widget-one whats-new-widget">
    <div class="ttl-w">
        <h2>WHAT'S NEW</h2>
        
        
        
    </div>
    <div class="ttl-w-mob">
        <a href="javascript:void(0)">
            <strong>WHAT'S NEW</strong>
            <span class="fa icon-plus"></span>            
        </a>
    </div>
    <div  class="ttl-c-w">
        
                <ul id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_ulDataItems">
                    
                            <li class="news-item">
                                <a  href="/resources/elearning/Hub.aspx?type=assetview&amp;id=1319">
                                    <span class="i-w">
                                        <img  src="images/1.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            What to do after a performance appraisal
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Performance appraisals play an important role in your ongoing career development, and what you do after is just as important as what you say and do during the review.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_RepeaterDataItems_ctl01_hlNewsURL" href="/resources/elearning/Hub.aspx?type=assetview&amp;id=1317">
                                    <span class="i-w">
                                        <img src="images/2.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            5 steps to prepare for a performance review
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            The better you prepare for a performance review, the more valuable the experience will be both for yourself and your manager. Here are 5 steps you need to take to get the best results.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_RepeaterDataItems_ctl02_hlNewsURL" href="/resources/elearning/Hub.aspx?type=assetview&amp;id=1316">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_RepeaterDataItems_ctl02_imgThumb" src="images/3.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Performance: using the Human Performance System
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            The Human Performance System (HPS) checklist is used to describe a performance issue as it stands. This course explains how you can apply the HPS to analyse a performance issue and develop potential solutions.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_RepeaterDataItems_ctl03_hlNewsURL" href="/resources/elearning/Hub.aspx?type=assetview&amp;id=1315">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_RepeaterDataItems_ctl03_imgThumb" src="images/4.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Performance: the working environment 
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            The working environment should provide all the support an individual needs to perform their job effectively. However, it can often be the main cause of performance problems.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_RepeaterDataItems_ctl04_hlNewsURL" href="/resources/elearning/Hub.aspx?type=assetview&amp;id=1314">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_RepeaterDataItems_ctl04_imgThumb" src="images/5.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Performance: the individual
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            This performance troubleshooting course focuses on the individual and looks at how performance problems can result from a lack of appropriate skills and knowledge.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                </ul>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_ulDataItems').ticker({
                            titleText: '',
                            controls: false,
                            displayType: 'fade',
                            direction: 'ltr',
                            pauseOnItems: 5000,
                            fadeInSpeed: 600,
                            fadeOutSpeed: 300
                        });
                    });
                </script>
            
        <script>
            $(document).ready(function () {

                $("#ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_divAccordeonHead a").click(function () {
                    var container = $(this).closest('.border-widget-one');
                    container.find("#ctl00_cphMainContent_ctl00_ucTopWidgets_ucWhatNew_divAccordeonBody").slideToggle("slow", function () {
                        container.toggleClass("active");
                        if (container.hasClass("active") && MasterPageHelper.ScrollTo) {
                            MasterPageHelper.ScrollTo(container, 70);
                        }
                    });
                    return false;
                });
            });
        </script>
    </div>
</div>

		</div>
		<div id="ctl00_cphMainContent_ctl00_ucTopWidgets_divYourCoachContainer" class="col-lg-4 col-sm-4 widget-one">
            

<div class="border-widget-one expert-advice-widget">
    <div class="ttl-w">
        <h2>EXPERT ADVICE</h2>
        
        
        
    </div>
    <div  class="ttl-w-mob">
        <a href="javascript:void(0)">
            <strong>EXPERT ADVICE</strong>
            <span class="fa icon-plus"></span>            
        </a>
    </div>
    <div class="ttl-c-w">
        
                <ul >
                    
                            <li class="news-item">
                                <a  href="/resources/elearning/Hub.aspx?type=contributor&amp;id=1">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl00_imgThumb" src="images/6.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Julia Gardner
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Leading professional coach and facilitator with over 18 years’ experience in coaching individuals around career development, performance, transition and change, working in both the public and private sectors.

                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl01_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=2">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl01_imgThumb" src="/elearning/images/coach/Margaret-Carman.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Margaret Carman

                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            An inspirational career coach trained in NLP, Cognitive Behavioural Coaching and personality profiling techniques with an MBA in Business Coaching and Small Business Management

                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl02_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=3">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl02_imgThumb" src="/elearning/images/coach/Olwyn-Burgess.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Olwyn Burgess

                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Experienced career coach who specialises in career, performance and developmental coaching, as well as career transitions

                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl03_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=4">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl03_imgThumb" src="/elearning/images/coach/Olivier-Vidal.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Olivier Vidal

                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Qualified coach who aims to put you in more control of your career and achieve on your potential with an emphasis on learning to identify, sell and make-use of the skills and strengths you can offer your employer

                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl04_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=5">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl04_imgThumb" src="/elearning/images/coach/Paul-Dallibar.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Paul Dallibar

                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Experienced trainer and coach with background in the corporate environment, comfortable delivering hints tips and knowledge to all levels

                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl05_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=6">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl05_imgThumb" src="/elearning/images/coach/Linda-Butler.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Linda Butler

                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Qualified coach specialising in personal and career management and supporting clients in transition, promotion, self-awareness, and leadership

                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl06_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=7">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl06_imgThumb" src="/elearning/images/coach/Emma-Ford.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Emma Ford

                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Qualified coach enabling people to manage their own professional development, career and future in order to achieve their goals and aspirations 

                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl07_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=8">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl07_imgThumb" src="/elearning/images/coach/Michelle-Tranter.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Michelle Tranter
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Combining expertise in career coaching, leadership development and HR Consultancy, enabling clients to be better equipped for job hunting, positive work performance and managing work pressures.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl08_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=9">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl08_imgThumb" src="/elearning/images/coach/Alan-Beggs.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Alan Beggs
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Experienced Olympic sports psychologist who focuses on mental toughness, strengths, and emotional well-being and applying all three to workplace challenges such as change, transition and performance.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl09_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=10">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl09_imgThumb" src="/elearning/images/coach/Andy-Whitehead.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Andy Whitehead
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            A leadership and mental toughness coach with over 20 years public, private and not-for profit, senior management and board level experience.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl10_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=13">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl10_imgThumb" src="/elearning/images/coach/Maria-Dennis.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Maria Dennis
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Independent OD professional who develops people, teams and organisations for success with Relationship Intelligence, leadership, personal power, mindfulness and resilience.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl11_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=14">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl11_imgThumb" src="/elearning/images/coach/Tiffany-Bowles.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Tiffany Bowles
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Chartered Occupational Psychologist who combines warmth with a pragmatic astuteness and rigour
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl12_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=15">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl12_imgThumb" src="/elearning/images/coach/Alexandra-Merisoiu.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Alexandra Merisoiu
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Outdoor Transformational Health and Wellness Coach for professionals, particularly women, to help them overcome stress and depression.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl13_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=16">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl13_imgThumb" src="/elearning/images/coach/Jeff_Grout.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Jeff Grout
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Listed in the '100 Best Business Speakers in Britain', Jeff is in considerable demand as a motivational business speaker, conference chairman and interviewer.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl14_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=17">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl14_imgThumb" src="/elearning/images/coach/Jane-Bain.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Jane Bain
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Author, speaker & executive coach specialising in writing, presentation skills and how to use stories in a variiety of formal and informal situations, from networking to written reports.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl15_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=18">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl15_imgThumb" src="/elearning/images/coach/Susan-Binnersley.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Susan Binnersley
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Empathetic, yet challenging career coach with substantial experience of transformational change, redundancy management, outplacement and leadership development.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl16_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=19">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl16_imgThumb" src="/elearning/images/coach/Gill-Amos.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Gill Amos
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Highly skilled coach, assessor and facilitator with extensive experience in supporting and challenging people to build their capability and increase their effectiveness at work.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl17_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=20">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl17_imgThumb" src="/elearning/images/coach/Amanda-Wildman.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Amanda Wildman
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Executive Coach, NLP Practitioner, MBTI Practitioner and BPS Level A and B certified, qualified to assess and deliver feedback on a range of personality, Emotional Intelligence and 360 tools
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl18_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=21">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl18_imgThumb" src="/elearning/images/coach/Steve_Thompson-Martyn.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Steve Thompson-Martyn
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Experienced career coach with over 20 years’ experience in organisational change
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl19_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=22">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl19_imgThumb" src="/elearning/images/coach/Annie_Slowgrove.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Annie Slowgrove
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            A motivational and inspirational leader capable of coaching and empowering individuals.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl20_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=23">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl20_imgThumb" src="/elearning/images/coach/Lisa_Thomas.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Lisa Thomas
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Lisa Thomas has a stellar track record and it is the ways in which she achieved that track record and success that she offers as a mentor though video tips and advice.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl21_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=24">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl21_imgThumb" src="/elearning/images/coach/Rachel_Brushfield.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Rachel Brushfield
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Talent liberator, career coach with NLP training and published author
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl22_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=25">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl22_imgThumb" src="/elearning/images/coach/Michael_Moran.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Michael Moran
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Experienced career coach helping individuals and organisations to maximise their potential
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl23_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=26">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl23_imgThumb" src="/elearning/images/coach/Paul-Comben.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Paul Comben
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Career coach who uses a competency based approach with experience in delivering recruitment, outplacement and career development services to a range of clients across the private, public and third sector.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                            <li class="news-item">
                                <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl24_hlNewsURL" href="/resources/elearning/Hub.aspx?type=contributor&amp;id=27">
                                    <span class="i-w">
                                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_RepeaterDataItems_ctl24_imgThumb" src="/elearning/images/coach/Damien-Stork.jpg" alt="thumbnail" style="border-width:0px;" />
                                    </span>
                                    <span class="txt-w">
                                        <strong class="txt-h3-w">
                                            Damien Stork
                                        </strong>
                                        <em class="txt-p-w">
                                            
                                        </em>
                                        <span class="txt-p-w">
                                            Human performance and leadership development specialist with extensive experience in recruitment, talent management and consultancy.
                                        </span>
                                    </span>
                                </a>
                            </li>
                        
                </ul>
            
      <!--   <script>
            $(document).ready(function () {

                $("#ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_divAccordeonHead a").click(function () {
                    var container = $(this).closest('.border-widget-one');
                    container.find("#ctl00_cphMainContent_ctl00_ucTopWidgets_ucExpertAdvice_divAccordeonBody").slideToggle("slow", function () {
                        container.toggleClass("active");
                        if (container.hasClass("active") && MasterPageHelper.ScrollTo) {
                            MasterPageHelper.ScrollTo(container, 70);
                        }
                    });
                    return false;
                });
            });
        </script> -->
    </div>
</div>

		</div>
		<div id="ctl00_cphMainContent_ctl00_ucTopWidgets_divYourProgressContainer" class="col-lg-4 col-sm-4 widget-one">
            

<div class="border-widget-one your-activity-widget">
    <div class="ttl-w">
        <h2>YOUR ACTIVITY</h2>
        <a id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_lnkActivityHeader" title="View All" class="view-all-link-header" href="resources/elearning/Hub.aspx?redirect=/e-learning/asset/progress-report">…</a>
        
        
    </div>
    <div id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_divAccordeonHead" class="ttl-w-mob">
        <a href="javascript:void(0)">
            <strong>YOUR ACTIVITY</strong>
            <span class="fa icon-plus"></span>            
        </a>
    </div>
    <div id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_divAccordeonBody" class="ttl-c-w">
        
                
                <div id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_pnlNoData" class="empty-text">
	
                    <span class="i-w">
                        <img id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_imgThumb" src="images/8.jpg" alt="thumbnail" style="border-width:0px;" />
                    </span>
                    <span class="txt-w">
                        <strong class="txt-h3-w"><span id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_lblNoActivity">No recent activity</span>
                        </strong>
                        <span class="txt-p-w browse-text"><span id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_lblBrowse1">Browse our E-learning below!</span>
                        </span>
                        <span class="txt-p-w">
                            <a href="Resources/elearning/Hub.aspx"><span id="ctl00_cphMainContent_ctl00_ucTopWidgets_ucYourActivity_lblBrowse2"></span></a>
                        </span>
                    </span>
                
</div>
            
  
    </div>
</div>

		</div>

	</div>
</div>


<script src="/Resources/DocumentManager/js/jquery.placeholder.min.js"></script>


<div id="ctl00_cphMainContent_ctl00_ucELearningSearch_pnlElearningQuickSearch" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ctl00_cphMainContent_ctl00_ucELearningSearch_lnkSearch&#39;)">
	
<div class="frm-srch-t">
	<div class="row">
		<div class="col-lg-12">
			<div aria-expanded="true" class="search">
			    <div  role="form" class="form-inline form-search" novalidate="novalidate">
			        <span class="ui-helper-hidden-accessible" aria-live="polite" role="status"></span>
			        <div class="form-group">
                        <input name="ctl00$cphMainContent$ctl00$ucELearningSearch$txtSearch" type="text" id="ctl00_cphMainContent_ctl00_ucELearningSearch_txtSearch" class="form-control input_primary ui-autocomplete-input ui-autocomplete-loading" placeholder="Search for titles - Try: networking, strengths, interview..." />
			        </div>
                    <a id="ctl00_cphMainContent_ctl00_ucELearningSearch_lnkSearch" class="btn btn-primary btn-search" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphMainContent$ctl00$ucELearningSearch$lnkSearch&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))">
			            <span class="hidden-xs">SEARCH</span>
			            <i class="hidden-sm hidden-md hidden-lg fa icon-search"></i>
                    </a>
			    </div>
			</div>
		</div>
	</div>
</div> 

</div>

<div id="ctl00_cphMainContent_ctl00_ucPanels_divDashboardPanels" class="dashboard-panels">
    
             
                <div class="row">
                    
            <div class="col-sm-3 item-panel item-panel-banner ">
                <div class="bd-panel">
                    <div class="panel-title themeDashboardTitleBgColour" style="background-color: #c4aead !important;">
                        <h3 class="themeDashboardTitleColour">                        
                            DISCOVER
                        </h3>
                        <a href="/resources/careerassessments" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl0_lnkButtonPanelLinkTitle" class="fa icon-ellipsis-horizontal themeDashboardTitleColour" target="_self"></a>
                        
                    </div>
                    <div class="cnt-panel" style="background: #ddd url('images/11.jpg') no-repeat 50% 50%;">
                        <a href="/resources/careerassessments" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl0_lnkPanelLink" class="links-image" target="_self">
                            
                        </a>
                        
                    </div>
                </div>
            </div>

                    
        
            <div class="col-sm-3 item-panel item-panel-banner ">
                <div class="bd-panel">
                    <div class="panel-title themeDashboardTitleBgColour" style="background-color: #c4aead !important;">
                        <h3 class="themeDashboardTitleColour">                        
                            PLAN
                        </h3>
                        <a href="/resources/CareerManagement/CareerPlanning.aspx" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl1_lnkButtonPanelLinkTitle" class="fa icon-ellipsis-horizontal themeDashboardTitleColour" target="_self"></a>
                        
                    </div>
                    <div class="cnt-panel" style="background: #ddd url('images/10.jpg') no-repeat 50% 50%;">
                        <a href="/resources/CareerManagement/CareerPlanning.aspx" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl1_lnkPanelLink" class="links-image" target="_self">
                            
                        </a>
                        
                    </div>
                </div>
            </div>

            <div class='clrfx-my'></div>        
        
            <div class="col-sm-3 item-panel item-panel-banner ">
                <div class="bd-panel">
                    <div class="panel-title themeDashboardTitleBgColour" style="background-color: #c4aead !important;" >
                        <h3 class="themeDashboardTitleColour">                        
                            LEARN
                        </h3>
                        <a href="/resources/elearning/Hub.aspx" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl2_lnkButtonPanelLinkTitle" class="fa icon-ellipsis-horizontal themeDashboardTitleColour" target="_self"></a>
                        
                    </div>
                    <div class="cnt-panel" style="background: #ddd url("images/9.jpg") no-repeat 50% 50%;">
                        <a href="/resources/elearning/Hub.aspx" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl2_lnkPanelLink" class="links-image" target="_self">
                            
                        </a>
                        
                    </div>
                </div>
            </div>

                    
        
            <div class="col-sm-3 item-panel item-panel-banner ">
                <div class="bd-panel">
                    <div class="panel-title themeDashboardTitleBgColour" style="background-color: #c4aead !important;">
                        <h3 class="themeDashboardTitleColour">                        
                            ACT
                        </h3>
                        <a href="/resources/gateway/act.aspx" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl3_lnkButtonPanelLinkTitle" class="fa icon-ellipsis-horizontal themeDashboardTitleColour" target="_self"></a>
                        
                    </div>
                    <div class="cnt-panel" style="background: #ddd url('images/18.jpg') no-repeat 50% 50%;">
                        <a href="/resources/gateway/act.aspx" id="ctl00_cphMainContent_ctl00_ucPanels_lvPanels_ctrl3_lnkPanelLink" class="links-image" target="_self">
                            
                        </a>
                        
                    </div>
                </div>
            </div>

            <div class='clrfx-my'></div>        
        
                </div>        
        
    
    
</div>









<div class="browse-learning" id="BrowseElearning">
    <div class="row">
        <div class="col-lg-12 browse-learning-header">
            <div class="bd-b-l">
                <h2>Browse E-learning</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="ctl00_cphMainContent_ctl00_ucELearningBrowse_divAssetGallery" class="row asset-gallery">
            <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1319">
                        <span class="rollover-desc">
                            Performance appraisals play an important role in your ongoing career development, and what you do after is just as important as what you say and do during the review.
                        </span>
                            <span class="isnew-icon"></span>
                        <img src="images/16.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="What to do after a performance appraisal">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1319">
                        What to do after a performance appraisal
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-hottips"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1317">
                        <span class="rollover-desc">
                            The better you prepare for a performance review, the more valuable the experience will be both for yourself and your manager. Here are 5 steps you need to take to get the best results.
                        </span>
                            <span class="isnew-icon"></span>
                        <img src="images/16.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="5 steps to prepare for a performance review">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1317">
                        5 steps to prepare for a performance review
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-hottips"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1316">
                        <span class="rollover-desc">
                            The Human Performance System (HPS) checklist is used to describe a performance issue as it stands. This course explains how you can apply the HPS to analyse a performance issue and develop potential solutions.
                        </span>
                        <img src="images/14.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="Performance: using the Human Performance System">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1316">
                        Performance: using the Human Performance System
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                    <a class="asset-tag" href="#3">Leadership</a>
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-scorm"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1315">
                        <span class="rollover-desc">
                            The working environment should provide all the support an individual needs to perform their job effectively. However, it can often be the main cause of performance problems.
                        </span>
                        <img src="images/13.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="Performance: the working environment&nbsp;">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1315">
                        Performance: the working environment&nbsp;
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                    <a class="asset-tag" href="#3">Leadership</a>
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-scorm"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1314">
                        <span class="rollover-desc">
                            This performance troubleshooting course focuses on the individual and looks at how performance problems can result from a lack of appropriate skills and knowledge.
                        </span>
                        <img src="/elearning/images/mastercontent/Performance-troubleshooting-the-individual.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="Performance: the individual">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1314">
                        Performance: the individual
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                    <a class="asset-tag" href="#3">Leadership</a>
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-scorm"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1313">
                        <span class="rollover-desc">
                            This course shows the effect that work, specifically how the results and consequences of work, can have on performance, and provides advice on how these issues can be managed.
                        </span>
                        <img src="images/1.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="Performance: the impact of work&nbsp;">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1313">
                        Performance: the impact of work&nbsp;
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                    <a class="asset-tag" href="#3">Leadership</a>
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-scorm"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1312">
                        <span class="rollover-desc">
                            ....This course contains a complete performance troubleshooting case study. It applies the Human Performance System (HPS) to a performance-related problem at work and identifies likely causes. 
                        </span>
                        <img src="images/3.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="Performance case study&nbsp;">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1312">
                        Performance case study&nbsp;
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                    <a class="asset-tag" href="#3">Leadership</a>
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-scorm"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 list-item-wrapper js-list-item" style="">
            <article class=" col-xs-12 list-item">
            <div class="col-xs-5 col-sm-12 list-item-img">
                <a class="asset-popup-preview" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1311">
                        <span class="rollover-desc">
                            Performance is about measurable achievement. If there are performance issues, you’ll need to be able to troubleshoot them, identify the causes and know how to resolve them.
                        </span>
                        <img src="images/5.jpg" alt="thumbnail">
                    </a>
            </div>
            <div class="col-xs-7 col-sm-12 list-item-txt">
                <h3 class="list-item-header" title="Introduction to performance troubleshooting&nbsp;">
                    <a class="asset-popup-preview asset-popup-preview-text" href="resources/elearning/Hub.aspx?type=assetview&amp;id=1311">
                        Introduction to performance troubleshooting&nbsp;
                    </a>
                </h3>
                <div class="tags tags-list-plain">
                    <a class="asset-tag" href="#3">Leadership</a>
                </div>
                <div class="clearfix">
                    <span data-placement="top" class="tooltip-hint sprite icon-scorm"></span>
                    <span class="contributors">
                    </span>
                </div>
            </div>
            </article>
        </div></div>
        </div>
    </div>
</div>

<div class="browse-learning" >
    <div class="row">
        <div class="col-lg-12 browse-learning-header">
            <div class="bd-b-l">
                <h2>Browse E-learning</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="ctl00_cphMainContent_ctl00_ucELearningBrowse_divAssetGallery" class="row asset-gallery">
            </div>
        </div>
    </div>
</div>
<div class="btn-full-wrapper" >
    <div class="row">
        <div class="col-lg-12">
            <button >LOAD MORE <i class="fa icon-ellipsis-horizontal"></i></button>
        </div>
    </div>
</div>