<form name="aspnetForm" method="post" action="./QuizDetails.aspx?quizId=20" id="aspnetForm">
<div>

</div>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="1AA3923A">
</div>
        <div id="wrapper">

            
    
            <div class="breadcrumb">
                <a id="ctl00_mainContent_fvQuizDetails_hlBackLink" title="Back to all Career Assessments" href="Application.aspx">Career Assessments</a> 
                &gt; Personal Resilience                    
            </div>
            <p>
                <a id="ctl00_mainContent_fvQuizDetails_hlTakeTheQuizTop" title="Take the assessment" class="button button-top" href="UserInfoForm.aspx?quizId=20">Take the assessment &gt;					
					<span class="glyphicon glyphicon-option-horizontal"></span>
				</a>
            </p>
            <h1 class="tp-ttl">
                Personal Resilience
            </h1>
            <div class="quizDescription">
                <img id="ctl00_mainContent_fvQuizDetails_Image1" class="img-custom" src="images/Resilience_Final.jpg" style="border-width:0px;">
                <p>
A person’s resilience is about their ability to bounce back from difficulties, to bend, but not break under extreme stress. Answering the following questions will help you to understand more about your own resilience and the aspects which influence how you experience stress. You may also:
</p>

<ul>
<li>Gain awareness of the key areas of stress in your life</li>
<li>Appreciate how well you deal with challenging situations</li>
<li>Understand how to make yourself stronger and more resilient</li>
<li>And learn how you can manage a changing world more effectively</li>
</ul>

<p>Instructions</p>

<p>There are 36 short questions to answer. Please read each of the statements and rate the degree to which they apply to you. </p>

<p>At the end of the questions you will receive a short summary of your overall resilience, how you scored in each of the scales and some advice in relation to work. This will include some straight forward skills and techniques you can use to help you maintain and develop your levels of resilience, especially as you contemplate changes in your working life.</p>

<p>When completing the questions, answer each statement using the scale provided. Do not think about your answers for too long; just go with your first response. Answer the questions in relation to how you ‘generally’ feel. Avoid always selecting the middle option. Do not skip any questions. </p>
            </div>
            <div style="clear:both">
            <p>
                <a id="ctl00_mainContent_fvQuizDetails_hlTakeTheQuizBottom" title="Take the assessment" class="button button-bottom" href="UserInfoForm.aspx?quizId=20">Take the assessment &gt;					
					<span class="glyphicon glyphicon-option-horizontal"></span>
				</a>					
            </p>
        

        </div>
    

    <script type="text/javascript">
		MobileHandler.Init(960, 'tablet-landscape');
    </script>


</div></form>