<div>
		<div id="quizContent">    <div class="question">
        <div class="questionText">
            <span>I find it easy to form lasting relationships and friendships</span>
        </div>
        <div class="answers btn-group" data-toggle="buttons">
                
                <label for="question_910_answer_85" class="answerText btn ">                
					<input type="radio" name="question_910" class="answerOption" id="question_910_answer_85" data-answerid="85" data-questionid="910">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Not like me</span>
                </label>
                              
                
                <label for="question_910_answer_86" class="answerText btn ">                
					<input type="radio" name="question_910" class="answerOption" id="question_910_answer_86" data-answerid="86" data-questionid="910">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Rarely like me</span>
                </label>
                              
                
                <label for="question_910_answer_87" class="answerText btn ">                
					<input type="radio" name="question_910" class="answerOption" id="question_910_answer_87" data-answerid="87" data-questionid="910">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Sometimes like me</span>
                </label>
                              
                
                <label for="question_910_answer_88" class="answerText btn ">                
					<input type="radio" name="question_910" class="answerOption" id="question_910_answer_88" data-answerid="88" data-questionid="910">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Often like me</span>
                </label>
                              
                
                <label for="question_910_answer_89" class="answerText btn ">                
					<input type="radio" name="question_910" class="answerOption" id="question_910_answer_89" data-answerid="89" data-questionid="910">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Always like me</span>
                </label>
                              
        </div>
    </div>
    <div class="clear"></div>
    <div class="question">
        <div class="questionText">
            <span>If an unexpected event happens, I usually have sufficient contingency to organise my work around it</span>
        </div>
        <div class="answers btn-group" data-toggle="buttons">
                
                <label for="question_920_answer_85" class="answerText btn ">                
					<input type="radio" name="question_920" class="answerOption" id="question_920_answer_85" data-answerid="85" data-questionid="920">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Not like me</span>
                </label>
                              
                
                <label for="question_920_answer_86" class="answerText btn ">                
					<input type="radio" name="question_920" class="answerOption" id="question_920_answer_86" data-answerid="86" data-questionid="920">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Rarely like me</span>
                </label>
                              
                
                <label for="question_920_answer_87" class="answerText btn ">                
					<input type="radio" name="question_920" class="answerOption" id="question_920_answer_87" data-answerid="87" data-questionid="920">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Sometimes like me</span>
                </label>
                              
                
                <label for="question_920_answer_88" class="answerText btn ">                
					<input type="radio" name="question_920" class="answerOption" id="question_920_answer_88" data-answerid="88" data-questionid="920">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Often like me</span>
                </label>
                              
                
                <label for="question_920_answer_89" class="answerText btn ">                
					<input type="radio" name="question_920" class="answerOption" id="question_920_answer_89" data-answerid="89" data-questionid="920">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Always like me</span>
                </label>
                              
        </div>
    </div>
    <div class="clear"></div>
    <div class="question">
        <div class="questionText">
            <span>I have the knowledge and skills and experience to deal with almost anything that happens to me  </span>
        </div>
        <div class="answers btn-group" data-toggle="buttons">
                
                <label for="question_885_answer_85" class="answerText btn ">                
					<input type="radio" name="question_885" class="answerOption" id="question_885_answer_85" data-answerid="85" data-questionid="885">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Not like me</span>
                </label>
                              
                
                <label for="question_885_answer_86" class="answerText btn ">                
					<input type="radio" name="question_885" class="answerOption" id="question_885_answer_86" data-answerid="86" data-questionid="885">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Rarely like me</span>
                </label>
                              
                
                <label for="question_885_answer_87" class="answerText btn ">                
					<input type="radio" name="question_885" class="answerOption" id="question_885_answer_87" data-answerid="87" data-questionid="885">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Sometimes like me</span>
                </label>
                              
                
                <label for="question_885_answer_88" class="answerText btn ">                
					<input type="radio" name="question_885" class="answerOption" id="question_885_answer_88" data-answerid="88" data-questionid="885">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Often like me</span>
                </label>
                              
                
                <label for="question_885_answer_89" class="answerText btn ">                
					<input type="radio" name="question_885" class="answerOption" id="question_885_answer_89" data-answerid="89" data-questionid="885">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Always like me</span>
                </label>
                              
        </div>
    </div>
    <div class="clear"></div>
    <div class="question">
        <div class="questionText">
            <span>I keep a ‘to do’ list, and use it every day</span>
        </div>
        <div class="answers btn-group" data-toggle="buttons">
                
                <label for="question_916_answer_85" class="answerText btn ">                
					<input type="radio" name="question_916" class="answerOption" id="question_916_answer_85" data-answerid="85" data-questionid="916">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Not like me</span>
                </label>
                              
                
                <label for="question_916_answer_86" class="answerText btn ">                
					<input type="radio" name="question_916" class="answerOption" id="question_916_answer_86" data-answerid="86" data-questionid="916">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Rarely like me</span>
                </label>
                              
                
                <label for="question_916_answer_87" class="answerText btn ">                
					<input type="radio" name="question_916" class="answerOption" id="question_916_answer_87" data-answerid="87" data-questionid="916">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Sometimes like me</span>
                </label>
                              
                
                <label for="question_916_answer_88" class="answerText btn ">                
					<input type="radio" name="question_916" class="answerOption" id="question_916_answer_88" data-answerid="88" data-questionid="916">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Often like me</span>
                </label>
                              
                
                <label for="question_916_answer_89" class="answerText btn ">                
					<input type="radio" name="question_916" class="answerOption" id="question_916_answer_89" data-answerid="89" data-questionid="916">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Always like me</span>
                </label>
                              
        </div>
    </div>
    <div class="clear"></div>
    <div class="question">
        <div class="questionText">
            <span>I have self-discipline</span>
        </div>
        <div class="answers btn-group" data-toggle="buttons">
                
                <label for="question_892_answer_85" class="answerText btn ">                
					<input type="radio" name="question_892" class="answerOption" id="question_892_answer_85" data-answerid="85" data-questionid="892">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Not like me</span>
                </label>
                              
                
                <label for="question_892_answer_86" class="answerText btn ">                
					<input type="radio" name="question_892" class="answerOption" id="question_892_answer_86" data-answerid="86" data-questionid="892">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Rarely like me</span>
                </label>
                              
                
                <label for="question_892_answer_87" class="answerText btn ">                
					<input type="radio" name="question_892" class="answerOption" id="question_892_answer_87" data-answerid="87" data-questionid="892">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Sometimes like me</span>
                </label>
                              
                
                <label for="question_892_answer_88" class="answerText btn ">                
					<input type="radio" name="question_892" class="answerOption" id="question_892_answer_88" data-answerid="88" data-questionid="892">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Often like me</span>
                </label>
                              
                
                <label for="question_892_answer_89" class="answerText btn ">                
					<input type="radio" name="question_892" class="answerOption" id="question_892_answer_89" data-answerid="89" data-questionid="892">
					<i class="fa fa-circle-o fa-2x"></i>
					<i class="fa fa-check-circle-o fa-2x"></i>
					<span>Always like me</span>
                </label>
                              
        </div>
    </div>
    <div class="clear"></div>

</div>

		<div class="quizButtons">        
			<button id="nextButton" class="hidden-elem button long-button" style="display: none;">
				Next &gt;
				<span class="glyphicon glyphicon-option-horizontal"></span>
			</button>
			
            <script>
                $(document).ready(function () {
                    $("#ctl00_mainContent_btnCompleteQuiz").click(function() {
                        $("#ctl00_mainContent_btnCompleteQuiz").attr("disabled", true);
                    });
                });
            </script>

            <style>
                .submit-long[disabled] {
                     opacity: 0.3;
                }
            </style>
            
            <script>
                $(document).ready(function () {
                    $("#ctl00_mainContent_btnCompleteQuiz").click(function() {
                        $("#ctl00_mainContent_btnCompleteQuiz").attr("disabled", true);
                    });
                });
            </script>

            <style>
                .submit-long[disabled] {
                     opacity: 0.3;
                }
            </style>
            
			<button id="ctl00_mainContent_btnCompleteQuiz" class="hidden-elem submit button submit-long" style="display: none;">
				Complete assessment!
				<span class="glyphicon glyphicon-option-horizontal"></span>		
			</button>					
			
			<button id="previousButton" class="hidden-elem button previous" style="display: none;">
				&lt; Previous
			</button>
			
			<input type="submit" name="ctl00$mainContent$btnSubmitQuiz" value="Complete assessment!" id="ctl00_mainContent_btnSubmitQuiz" style="display:none">						
		</div>
    </div>